iframe(width="100%" style=`aspect-ratio: ${aspectRatio}` src=`https://www.youtube.com/embed/${id}` title="plst YouTube embed player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen)
